<ActionBar [title]="'Contact' " class="action-bar">
  <NavigationButton [text]="'HOME' | translate"></NavigationButton>
</ActionBar>
<ScrollView>
  <StackLayout class="p-20">
    <Label text="You can contact me here" textWrap="true" class="h4"></Label>

    <StackLayout class="m-y-10">
      <Label text="Details" class="h1"></Label>
      <StackLayout class="hr-light"></StackLayout>
    </StackLayout>

    <StackLayout class="feature-list">
      <Label text="- Email: raj.virtuali@gmail.com" textWrap="true" class="body"></Label>
      <Label text="- LinkedIn: www.linkedin.com/in/pedda-raju-m" textWrap="true" class="body"></Label>
      <Label text="- Mobile: +91- 8985598255" textWrap="true" class="body"></Label>
      <Label text="- Address: Borabanda, Hyderabad" textWrap="true" class="body"></Label>

    </StackLayout>
  </StackLayout>
</ScrollView>
